body{
    font-family: 'Inria Serif', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}
$dark-green:#28A745;
a{
    color:black !important;
}
.text-green{
    color:$dark-green!important;
}
ul{
    list-style-type: none;
}
.signup-button{
    background-color:$dark-green;
    padding:9px 12px;
    border-radius: 8px;
    border:0px;
    color:white;
    gap: 3px;
    width: 115px;
    height: 43px;
   
}
i{
    width: 27px;
    height: 24px;
}
main{
    background-image:url(./images/bgImg.png);
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    a{
        text-decoration: none;
        color: white !important;;
    }
}
section{
    position: relative;;
    margin-top: 70px;
    padding-bottom: 114px;
    .card{position: absolute;
        margin-top: 29px;
        margin-right: 87px;
        p{
            margin-bottom: 0 !important;
            font-size: 14px;
        }
        .logo{
          img{
            width: 250px;
            margin-left: 22px;
          }
        }
    }
}

._heading{
    font-size: 60px;
    line-height: 79px;
    color: white;
}
._pramotion{
    font-size: 20px;
    color: white;
}
.connect{
    button{
        background-color: #28A745;
        border-radius: 8px;
        padding: 10px;
        border:0;
        color: white;
    }
}
article{
    margin-top: 83px;
    text-align: center;
    .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
        color: white!important;
        background-color: $dark-green;
    }
    .line{
        margin-top: 20px;
        width: 193px;
       margin: 0 auto;
        background-color: $dark-green;
        height: 3px;
    }
      p{
        margin-bottom: 0 !important;
        font-size: 15px;
    }
  
}
footer{
    li{
        margin-bottom:1px;
    }
    margin-top: 20px;
    padding: 25px;
   background: linear-gradient(210.37deg, rgba(16, 54, 123, 0.88) 21.73%, rgba(16, 54, 123, 0) 132.48%);
a ,p,h4 {
    color: white!important;
}
p{
    margin-bottom: 0 !important;
    font-size: 15px;
}

}

// responsive //

// @media screen and(max-width:768px){
    
// }